// colors

$color-1: #BC10D1; //purple
$color-2:#FC7C05; //orange
$color-3: #F696AC; // pink
$color-4: #ECF0F1; // ANTI-FLASH WHITE

// fonts 

$primary-font: 'Hind', sans-serif;
$secondary-font: 'David Libre', serif;