@media only screen and (min-width:900px) {
    .menu-toggle {
        display:none;
    }
    
    
    .logo {
        color:white;
        margin-left: 45px;
        
    }
    .site-nav {
        background:$color-1;
        position:static;
        
        

        li {
            flex:1 0 0;
        }

        a {
            color:white;
        }
    }

    .main {
        border-top:1px solid rgba(255,255,255,0.3);
    }
}