@media only screen and (min-width:900px) {
    .menu-toggle {
        display:none;
    }
    header{
       
    }
    .header {
        
    }

    .site-nav {
        background:$color-1;

        li {
            flex:1 0 0;
        }

        a {
            color:white;
        }
    }
}