.site-nav {
    width: 100%;

    ul {
        list-style-type: none;
        
        width: 50%;
        
        
        
    }

    li {
        
        
        ul {
            display:flex;
            flex-direction: column;
        }
        
    }

    a {
        text-decoration: none;
        display: block;
        background: grey;
        width: 100%;
        
    }
}