header {
  background: #0D3250;
  position: relative; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; }

.logo {
  color: white;
  margin-left: 34px; }

.site-nav {
  background-color: white;
  position: absolute;
  height: auto;
  width: 100%;
  top: 100%;
  z-index: 1;
  transition: all .5s ease-in-out; }
  .site-nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; }
  .site-nav li {
    flex: 1 0 50%; }
  .site-nav a {
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 25.71px;
    text-transform: uppercase;
    padding: .65em .75em;
    color: black;
    transition: all .4s ease; }
    .site-nav a:hover, .site-nav a focus {
      background: #4d4d4d;
      color: white; }

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 1.25em;
  right: 1em;
  cursor: pointer; }

.main {
  position: absolute;
  width: 100%;
  z-index: 3;
  background: #0D3250;
  height: 500px;
  padding: 2em;
  text-align: center;
  transition: all .2s ease-in-out; }
  .main--down {
    -webkit-transform: translateY(183px);
            transform: translateY(183px); }
  .main h1 {
    color: white;
    text-transform: capitalize;
    font-size: 4rem; }

.border {
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  width: 100%; }

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  background: white;
  height: 3px;
  width: 1.75em;
  display: block;
  border-radius: 0px;
  transition: all .2s ease-in; }

.hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px); }

.hamburger::after {
  -webkit-transform: translatey(3px);
          transform: translatey(3px); }

.open .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.open .hamburger::before {
  opacity: 0; }

.open .hamburger::after {
  -webkit-transform: translateY(-3px) rotate(-90deg);
          transform: translateY(-3px) rotate(-90deg); }

@media only screen and (min-width: 900px) {
  .menu-toggle {
    display: none; }
  .logo {
    color: white;
    margin-left: 45px; }
  .site-nav {
    background: #0D3250;
    position: static; }
    .site-nav li {
      flex: 1 0 0; }
    .site-nav a {
      color: white; }
  .main {
    border-top: 1px solid rgba(255, 255, 255, 0.3); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0rem;
  font-size: 1.6rem;
  font-family: 'roboto',sans-serif; }
